<p id="notice"><%= notice %></p>
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title" style="margin-bottom: 1em;">Licitaciones (total: <%= @biddings.count unless @biddings.nil? %>)</h3>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin text-center">
            <thead>
              <tr>
                <th>Codigo Extrerno</th>
                <th>Nombre</th>
                <th>Codigo Estado</th>
                <th>Fecha Cierre</th>
                <th>Ver Detalle</th>
              </tr>
            </thead>
            <tbody>
              <% @biddings.each do |bidding| %>
                <tr>
                  <td><%= bidding[:CodigoExterno] %></td>
                  <td><%= bidding[:Nombre] %></td>
                  <td><%= bidding[:CodigoEstado] %></td>
                  <td><%= bidding[:FechaCierre].to_date.strftime('%d-%m-%Y') %></td>
                  <td class=""><%= link_to '', "/licitaciones/#{bidding[:CodigoExterno]}", method: :get, class: 'fa fa-eye' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div> 
