  <h5 style="margin-left: 10px;">Mis Licitaciones (total: <%= @biddings.count unless @biddings.nil? %>)</h5>
  <div>  
    <%= form_tag(biddings_path, method: :get, style: 'margin-left: 10px;', class:'') do %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= text_field_tag :term, '', { class: 'mdl-textfield__input', placeholder: 'Escriba aquí el texto que desee buscar' } %>
        <label class="mdl-textfield__label"></label>
      </div>  
        <%= submit_tag 'Buscar', { class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored', style: '' } %>
    <% end %>
  </div>
  <div class="">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
        <thead>
          <tr>
            <th>Codigo Extrerno</th>
            <th style="text-align: center;">Nombre</th>
            <th style="text-align: center;">Codigo Estado</th>
            <th>Fecha Cierre</th>
            <th style="text-align: center;">Ver Detalle</th>
          </tr>
        </thead>
        <tbody>
          <% @biddings.each do |bidding| %>
            <tr style="text-align: center;">
              <td><%= bidding.external_code %></td>
              <td style="text-align: center;"><%= truncate_bidding_name(bidding.name)%></td>
              <td style="text-align: center;"><%= bidding_states(bidding.state) %></td>
              <td ><%= bidding.deadline %></td>
              <td style="text-align: center;"><%= link_to 'Ver', market_path(id: bidding.external_code), method: :get, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
