<!DOCTYPE html>
<html>
  <head>
    <title>ApiMercadopublicoCl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="$$hosted_libs_prefix$$/$$version$$/material.deep_purple-pink.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" /> 
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>
  <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
  </style>
  <!-- Wide card with share menu button -->
     <!-- Uses a transparent header that draws on top of the layout's background -->

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <%= flash_toastr %> 
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark" style="height: 60px;">
      <%= link_to 'Licitaciones del Mercado', market_biddings_path, class: 'mdl-layout__tab' %>
      <%= link_to 'Licitaciones guardadas', biddings_path, class: 'mdl-layout__tab' %>
      <%= link_to 'Palabras Clave', key_words_path, method: :get, class: 'mdl-layout__tab'%>
    </div>
    <body>
      <%= yield %>
    </body>  
</body>



</html>
